<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northuniversity.mapper.UserMapper">
    <select id="selectAllUser" resultType="com.northuniversity.model.User">
        SELECT * FROM user
    </select>
    <select id="selectUser" resultType="com.northuniversity.model.User">
         SELECT * FROM user
        where number = #{param.number}
        and password = #{param.password}
    </select>
    <select id="getUserByNumber" resultType="com.northuniversity.model.User">
         SELECT * FROM user
        where number = #{param.number}
    </select>
    <select id="saveUser" resultType="com.northuniversity.model.User">
        INSERT INTO user (username, gender, number, password) values(#{param.userName},#{param.gender},#{param.number},#{param.password})
    </select>
    <select id="deleteByNumber" resultType="com.northuniversity.model.User">
        delete from user where number=#{number}

    </select>
    <select id="searchByNumber" resultType="com.northuniversity.model.User">
        select * from user  where number like #{number}
    </select>
    <select id="update" resultType="com.northuniversity.model.User">
        update user

        <set>
            <if test="param.userName != null">
                username = #{param.userName},
            </if>
            <if test="param.gender != null">
                gender = #{param.gender},
            </if>
              <if test="param.number != null">
                number = #{param.number},
            </if>
            <if test="param.password != null">
                password = #{param.password}
            </if>
        </set>
        where id = #{param.id}
    </select>

</mapper>